<table border="1">


    <img id="img" src="/images/IMG_6585.jpg"></img>
    <tr> 
        <td>{{ data.id }}</td>
        <td>{{ data.event_name }}</td>
        <td>{{ data.time_zone }}</td>
        <td>{{ data.start_time }}</td>
        <td>{{ data.end_time }}</td>
        <td>{{ data.location_name }}</td>
        <td>{{ data.city }}</td>
        <td>{{ data.zip_code }}</td>
        <td>{{ data.event_contact_name }}</td>
        <td>{{ data.event_banner}}</td>
        <td>{{ data.event_access_code }}</td>
        <td>{{ data.added_by }}</td>
    </tr>
</table>

<button onclick="loadIMG">ClickMe</button>

<script type="text/javascript">

    function loadIMG(){
        alert("hello");
        var imglink = "{{ data.event_banner }}";
        alert(imglink);
        return imglink;
    }
    document.onload = function(){
       document.getElementById('img').src=loadIMG();
    };
    
</script>