{% extends "base.html" %}


{% block content %}

		
<!--login modal-->

		<div>
        	<h1 align="center">How This Works</h1>
            	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan iaculis egestas. Nunc elit dui, volutpat quis quam in, tincidunt pretium magna. Nunc elit orci, feugiat at fermentum vel, sagittis rhoncus sapien. Cras ut massa quis erat egestas euismod quis nec enim. Sed vel libero consectetur, maximus purus accumsan, ultricies enim. Aliquam nec tincidunt nibh. Vivamus sed dapibus arcu. Suspendisse scelerisque tincidunt mauris, ut finibus nisi vulputate at. Proin faucibus neque vel est blandit lobortis. Nullam sodales ipsum et nunc laoreet condimentum. Proin vel ultricies nulla. Etiam aliquet justo eget ante volutpat, id vestibulum mauris vestibulum. Praesent id dui placerat, hendrerit massa nec, ornare massa.</p>

<p>Aliquam pulvinar sapien eu euismod aliquet. Proin a ultricies ex, nec imperdiet sem. Nunc vel libero sit amet ipsum placerat vestibulum nec fringilla nunc. Mauris a ipsum convallis, posuere urna elementum, molestie dolor. Fusce ipsum ex, dapibus id luctus non, euismod eget eros. Sed imperdiet malesuada auctor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

<p>Sed maximus venenatis aliquet. Sed vitae justo libero. Curabitur ultricies mattis massa, a malesuada nulla. Pellentesque pulvinar neque ac pharetra vehicula. Etiam imperdiet laoreet nisl vitae varius. Maecenas pretium, mi non hendrerit sodales, massa justo blandit dui, vitae hendrerit odio diam eu nisl. Nulla placerat semper tempor. Phasellus eu leo interdum, hendrerit erat et, ullamcorper lorem. Praesent tristique tellus ac lorem cursus, quis gravida turpis pellentesque. Duis id purus egestas, elementum lectus gravida, volutpat ipsum.</p>

<p>Donec sit amet nunc velit. Praesent a lobortis purus. Integer rhoncus turpis quis aliquam commodo. Ut a mauris ultrices, placerat augue id, vehicula diam. Donec pulvinar malesuada urna at ornare. Nam magna urna, lobortis a tortor sit amet, interdum bibendum arcu. In iaculis est ipsum, id auctor justo porta nec.</p>

<p>Pellentesque semper erat vel justo faucibus aliquet sollicitudin vel dolor. Mauris tempor diam at leo eleifend volutpat. Quisque accumsan in orci ut pulvinar. Phasellus eget sodales justo, et consectetur urna. Vestibulum consequat in neque et dignissim. Sed pretium massa eget hendrerit volutpat. Vivamus porttitor mi vitae velit blandit luctus. Etiam lacinia dapibus venenatis. Suspendisse potenti. Phasellus vitae felis sed augue dapibus eleifend at ut enim. Curabitur massa velit, luctus id lectus ac, sollicitudin porta lorem. Morbi molestie tristique mi in viverra. Aliquam egestas risus quis lorem feugiat elementum nec ut odio.</p>
		</div>
{% endblock content %}